<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>docCloud文档管理云平台</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datatable.css" rel="stylesheet"> -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <link href="js/magnify/dist/jquery.magnify.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/page.css">
    <link href="js/zTree/css/metroStyle/metroStyle.css" rel="stylesheet" type="text/css" />

    <!-- <link rel="stylesheet" href="css/comfirm.css"> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        #tree-menu {
            float: left;
            width: 160px;
            height: 100%;
            padding: 0 12px;
            border-right: 1px solid #e6e9f0;
            overflow: auto;
            padding-top: 5px
        }

        .frmDocumentAssign {
            overflow-x: auto;
            overflow-y: auto;
            width: 280px;
            height: 150px;
            border: solid 1px #ccc;
            margin-left: 50px;
        }

        #divDocumentAssign:focus,
        #divDocAudit:focus,
        #divDocLock:focus,
        #divDocSort:focus {
            outline: none
        }

        #passDoc,
        #printCode,
        #lockDoc,
        #combind,
        #export,
        #sort,
        #exportProp {
            font-size: 12px;
            padding: 3px 6px;
            background-color: #0070c0;
            border-color: #0070c0;
            height: 26px;
        }

        #qucodePrint,
        .qrcodePrint,
            {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }

        .qrcodePrint li {
            float: left;
            width: 20%;
            margin-bottom: 10px;
        }

        .qrcodePrint li img {
            display: block;
        }

        .qrcodePrint span {
            word-wrap: break-word;
        }

        #frmPassword .form-control,
        #frmCombind .form-control{
            width: 60%;
            display: inline-block;
            box-sizing: border-box;
        }
        .icon-unlock {
            margin-left: 5px;
            color: green;
        }
        .icon-lock {
            margin-left: 5px;
            color: red;
        }
    </style>
</head>

<body>
    <!-- 微云 -->
    <div class="weiyun">
        <!-- 头部 -->
        <% include html/header.html %>
        <!-- 主要内容区 -->
        <div class="weiyun-content">
            <!-- 左侧菜单区 -->
            <div class="lay-aside">

                <div id="_search_bar" class="mod-search">
                    <div class="search-panel">
                        <div class="search-input">
                            <input id="search" placeholder="搜索全部" autocomplete="off" type="text" aria-label="输入文件名并按下回车进行搜索"
                                tabindex="0" class="mod-input">
                        </div>
                        <div class="search-placeholder">
                            <i class="icon icon-searchs"></i>
                        </div>
                    </div>
                    <!-- <div class="mod-menu-group">
                        <div class="menu-group">
                            <div class="menu-group-hd">
                                <p class="tit">历史记录</p>
                                <div class="hd-act">
                                    <a href="javascript:void(0)" class="btn-clear">清除记录</a>
                                </div>
                            </div>
                            <div class="menu-group-bd">
                                <ul class="menu-list">
                                    <li class="menu-list-item">
                                        <span class="item-txt">11</span>
                                        <span title="删除" class="item-act">
                                            <i class="icon icon-close"></i>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="aside-box">
                    <div class="aside-wrap">
                        <ul class="nav-box">
                            <!-- <li class="nav-list">
                                <a href="#" class="link recent" title="最近">
                                    <i></i>最近</a>
                            </li>
                            <li class="nav-gap">
                                <span class="gap"></span>
                            </li> -->
                            <li class="nav-list summary">
                                <a href="/summary" class="link doc" title="首页">
                                    <i></i>首页</a>
                            </li>
                            <li class="nav-list file nav-current">
                                <a href="/file" class="link all" title="目录">
                                    <i></i>目录</a>
                            </li>
                            <!-- <li class="nav-list">
                                <a href="/position" class="link doc" title="位置">
                                    <i></i>位置</a>
                            </li> -->
                            <li class="nav-list hightSearch">
                                <a href="/hightSearch" class="link pic" title="检索">
                                    <i></i>检索</a>
                            </li>
                            <li class="nav-list report">
                                <a href="/report" class="link" title="报表">
                                    <i class="icon-bar-chart"></i>报表</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 右侧内容区域 -->
            <div class="main">
                <!-- 工具菜单导航 -->
                <div class="nav">
                    <nav class="nav-collects clearfix">
                        <div class="upload-ff">
                            <a href="#" class="nav-a upload">
                                <span>
                                    <i></i>
                                    <span>上传</span>
                                </span>
                            </a>
                            <div class="upload-file">
                                <ul>
                                    <li class="upload-item">
                                        <span class="txt">
                                            <i class="icon icon-doc-s"></i>文件</span>
                                    </li>
                                    <li class="upload-item">
                                        <span class="txt">
                                            <i class="icon icon-file-s"></i>文件夹</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="create_file">
                            <a href="#" class="nav-a create">
                                <span>
                                    <i></i>
                                    <span>新建</span>
                                </span>
                            </a>
                            <div class="create-file">
                                <ul>
                                    <li class="create-item" id="folder1">
                                        <span class="txt">
                                            <i class="icon icon-doc-s"></i>分类</span>
                                    </li>
                                    <li class="create-item" id="folder2">
                                        <span class="txt">
                                            <i class="icon icon-file-s"></i>案卷</span>
                                    </li>
                                    <li class="create-item" id="folder3">
                                        <span class="txt">
                                            <i class="icon icon-file-ms"></i>组</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mod-nav">
                            <div class="mod-action-wrap mod-action-wrap-c mod-action-wrap-menu clearfix" style="">
                                <div class="action-item download">
                                    <div class="action-item-con">
                                        <i class="icon icon-download1"></i>
                                        <span class="act-txt">下载</span>
                                    </div>
                                </div>
                                <div class="action-item move">
                                    <div class="action-item-con">
                                        <i class="icon icon-removes"></i>
                                        <span class="act-txt">移动</span>
                                    </div>
                                </div>
                                <div class="action-item rename">
                                    <div class="action-item-con">
                                        <i class="icon icon-rename"></i>
                                        <span class="act-txt">重命名</span>
                                    </div>
                                </div>
                                <div class="action-item delete">
                                    <div class="action-item-con">
                                        <i class="icon icon-trash1"></i>
                                        <span class="act-txt">删除</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="nav-prop" style="position: relative;">
                            <div style="float: left;margin: 6px 16px 0 10px;">
                                <button class="btn btn-primary" id="someProo">批量设置属性</button>
                            </div>
                        </div>

                        <div class="nav-audit" style="position: relative;">
                            <div style="float: left;margin: 6px 16px 0 10px;">
                                <button class="btn btn-primary" id="passDoc">文档审核</button>
                            </div>
                        </div>
                        <div class="nav-audit" style="position: relative;">
                            <div style="float: left;margin: 6px 16px 0 10px;">
                                <button class="btn btn-primary" id="lockDoc">文档锁</button>
                            </div>
                        </div>

                        <div class="nav-printCode" style="position: relative;">
                            <div style="float: left;margin: 6px 16px 0 10px;">
                                <button class="btn btn-primary" id="printCode">打印二维码</button>
                            </div>
                        </div>

                        <div class="nav-combind" style="position: relative;">
                            <div style="float: left;margin: 6px 16px 0 10px;">
                                <button class="btn btn-primary" id="combind">合并</button>
                            </div>
                        </div>

                        <div class="nav-sort" style="position: relative;">
                            <div style="float: left;margin: 6px 16px 0 10px;">
                                <button class="btn btn-primary" id="sort">排序</button>
                            </div>
                        </div>

                        <!-- <div class="nav-exportProp" style="position: relative;">
                                <div style="float: left;margin: 6px 16px 0 10px;">
                                    <button class="btn btn-primary" id="exportProp">导入属性</button>
                                </div>
                            </div> -->
                        <div class="nav-export" style="position: relative;">
                            <div style="float: left;margin: 6px 16px 0 10px;">
                                <button class="btn btn-primary" id="export">导入台账</button>
                            </div>
                        </div>

                        <div id="btn-change">
                            <div class="mod-action-wrap mod-action-wrap-c clearfix" style="border:0px">
                                <div class="action-item act">
                                    <div class="action-item-con">
                                        <i class="icon icon-mode-list"></i>
                                        <span class="act-txt">列表</span>
                                    </div>
                                </div>
                                <div class="action-item">
                                    <div class="action-item-con">
                                        <i class="icon icon-mode-thumb"></i>
                                        <span class="act-txt">缩略图</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="#" class="nav-a reload">
                            <span>
                                <i></i>
                                <span>刷新</span>
                            </span>
                        </a> -->
                    </nav>
                </div>
                <!-- 主要内容展示区 -->
                <div class="content clearfix">
                    <!-- 树形导航 -->
                    <!-- <div class="tree-menu" id="tree-menu">
                        <p style="text-align: center;margin-top: 20px"><img src="/img/waiting.gif" /></p>
                    </div> -->
                    <ul id="tree-menu" class="ztree span3">
                        <p style="text-align: center;margin-top: 20px">
                            <img src="/img/waiting.gif" />
                        </p>
                    </ul>
                    <!-- 文件展示区 -->
                    <div class="file-show">
                        <!-- 文件路径导航 -->
                        <div class="path-nav-box clearfix">
                            <lable class="cheched-all"></lable>
                            <div class="path-nav clearfix">

                            </div>
                        </div>
                        <!-- 空白文件展示区 -->
                        <div class="g-empty sort-folder-empty">
                            <div class="empty-box">
                                <div class="ico"></div>
                                <p class="title">暂无文件</p>
                                <p class="content">请点击左上角的“上传”按钮添加文件</p>
                            </div>
                        </div>
                        <!-- 文件展示区 -->
                        <div class="file-list f_detail clearfix">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 提示信息 -->
    <div class="full-tip-box">
        <span class="full-tip">
            <span class="inner">
                <i class="ico"></i>
                <span class="text" data-id="label">新建文件夹成功!</span>
            </span>
        </span>
    </div>

    <div class="mod-tasks" style="visibility: visible;display: none">
        <div class="operation">
            <button aria-hidden="true" class="btn btn-icon" id="showList">
                <i class="icon icon-window-fold"></i>
            </button>
            <button aria-label="关闭" class="btn btn-icon" id="hideList">
                <i class="icon icon-close"></i>
            </button>
        </div>
        <!-- result-succ -->
        <div class="tasks-header tasking-nor">
            <div class="summary-wrapper">
                <b class="before" style="transform: scaleX(0);"></b>
                <i class="icon icon-status"></i>
                <p class="txt"></p>
            </div>
            <div class="title-wrapper">
                <!-- <div class="anim-wrapper">
                    <div class="mod-speed act">
                        <div class="item light"></div>
                        <div class="item round round-1">
                            <span class="item-con"></span>
                        </div>
                        <div class="item round round-2">
                            <span class="item-con"></span>
                        </div>
                        <div class="item round round-3">
                            <span class="item-con"></span>
                        </div>
                        <div class="item line-1"></div>
                        <div class="item line-2"></div>
                    </div>
                    <div class="mod-speed gif" style="display: none;">
                        <div class="item light"></div>
                        <div class="item round round-1">
                            <span class="item-con"></span>
                        </div>
                        <div class="item round round-2">
                            <span class="item-con"></span>
                        </div>
                        <div class="item round round-3">
                            <span class="item-con"></span>
                        </div>
                        <div class="item line-1"></div>
                        <div class="item line-2"></div>
                    </div>
                </div> -->
                <div class="info">
                    <p class="txt txt-sub"></p>
                </div>
                <h2 class="title">任务已完成</h2>
            </div>
        </div>
        <div class="tasks-body">
            <div class="tasks-cont">
                <div class="tasks-op-wrapper">
                    <ul class="op-list">

                    </ul>
                </div>
                <div class="tasks-group-wrapper">
                    <div class="tasks-group-viewport">
                        <div class="tasks-list-wrapper" style="">
                            <ul class="task-list-cont">
                                <!-- <li class="tasks-item succ">
                                    <div class="item-inner clearfix">
                                        <div class="item-tit">
                                            <div class="thumb">
                                                <i class="icon icon-m icon-pic-m"></i>
                                            </div>
                                            <div class="info">
                                                <p class="tit">
                                                    <span class="tit-inner">台账.png</span>
                                                </p>
                                                <span class="txt txt-sub">188.61 KB</span>
                                                <span class="txt txt-sub">上传</span>
                                            </div>
                                        </div>
                                        <div class="task-info">
                                            <p class="task-txt-status txt txt-sub"></p>
                                            <div class="task-progress-status">
                                                <div class="progress-wrapper">
                                                    <b class="progress">
                                                        <svg width="36px" height="36px" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                                            <circle id="Combined-Shape" stroke="#00A4FF" fill="transparent" stroke-width="2"
                                                                cx="18" cy="18" r="17" style="stroke-dashoffset: 895;"></circle>
                                                        </svg>
                                                    </b>
                                                    <button class="btn btn-icon"></button>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                        <!-- <div class="tasks-list-wrapper" style="display: none;">
                            <ul class="task-list-cont"></ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pdialogDiv hide">
        <% include dialog/frmDocPro.html %>
        <% include dialog/frmDocAssign.html %>
        <% include dialog/frmDocAudit.html %>
        <% include dialog/frmPassword.html %>
        <% include dialog/frmcombind.html %>
    </div>

    <!-- <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="js/jquery/jquery-1.12.4.js"></script>
    <!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script> -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/bootstrap/jquery-migrate-1.2.1.js"></script>
    <script src="js/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="js/zTree/js/jquery.ztree.core-3.4.min.js"></script>
    <script type="text/javascript" src="js/zTree/js/jquery.ztree.excheck-3.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/magnify/dist/jquery.magnify.js"></script>
    <script src="js/jquery/jquery.cookie.js"></script>
    <script src="js/js-spark-md5/spark-md5.min.js"></script>
    <script src="js/wistorm/localApi.js"></script>
    <script src="js/system.js"></script>
    <script src="js/wistorm/md5.js"></script>
    <script src="js/data.js"></script>
    <script src="js/handledata.js"></script>
    <script src="js/tools.js"></script>
    <script src="js/htmlTemplate.js"></script>
    <script src="js/csv2arr/papaparse.js"></script>
    <script src="js/csv2arr/jschardet.js"></script>
    <script src="js/csv2arr/csv2arr.js"></script>
    <script src="js/csv2arr/xlsx.full.min.js"></script>
    <script src="js/account.js"></script>
    <script src="js/index.js"></script>
    <script src="js/upload.js"></script>
    <!-- <script src="js/pdf/generic/build/pdf.js"></script> -->
</body>

</html>