<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>docCloud文档管理云平台</title>
    <!-- <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="css/bootstrap.3.3.7.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="js/magnify/dist/jquery.magnify.css" rel="stylesheet">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/login.css">
    <!-- <link rel="stylesheet" href="css/header.css"> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    </style>
</head>

<body>
    <!-- 微云 -->
    <div class="weiyun">
        <!-- 头部 -->
        <!-- <header class="header">
            <a href="#" class="logo2">docCloud文档管理云平台</a>
            <div class="mod-act-group">
                <div class="act-item act-item-acc">
                    <div class="act-item-txt">
                        <div class="mod-user">
                            <div class="user-info">
                                <span title="(๑°ㅁ°๑)" class="name">(๑°ㅁ°๑)</span>
                                <i class="icon icon-trig"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mod-bubble-menu mod-bubble-menu-info with-border">
                        
                        <ul>
                            <li class="menu-item">
                                <span class="txt">用户管理</span>
                                <div class="spliter"></div>
                            </li>
                            <li class="menu-item">
                                <span class="txt">权限管理</span>
                                <div class="spliter"></div>
                            </li>
                            <li class="menu-item">
                                <span class="txt">退出登录</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header> -->
        <div class="content">
            <div class="main">
                <div class="login">
                    <h1>docCloud文档管理云平台</h1>
                    <div class="inset">
                        <!--start-main-->
                        <div>
                            <div>
                                <!-- <h2>管理登录</h2> -->
                                <span>
                                    <label>用户名</label>
                                </span>
                                <span>
                                    <input type="text" class="textbox" id="account">
                                </span>
                            </div>
                            <div>
                                <span>
                                    <label>密码</label>
                                </span>
                                <span>
                                    <input type="password" class="password" id="password">
                                </span>
                            </div>
                            <div class="sign" style="position:relative">
                                <div style="position:absolute"><input id="isjz" type="checkbox" checked="checked" style="position: relative;top: 2px;margin-right: 5px;">记住密码</div>
                                <input type="submit" value="登录" class="submit" id="submit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery/jquery-1.12.4.js"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="/js/jquery/jquery.cookie.js"></script>
    <script src="js/wistorm/localApi.js"></script>
    <script src="js/wistorm/md5.js"></script>
    <script src="/js/login.js"></script>
    <!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="js/magnify/dist/jquery.magnify.js"></script> -->
    <!-- <script src="js/data.js"></script>
    <script src="js/handledata.js"></script>
    <script src="js/tools.js"></script>
    <script src="js/htmlTemplate.js"></script> -->
    <!-- <script src="js/index.js"></script> -->
    <!-- <script src="js/wistorm/wistorm.js"></script>
    <script src="js/wistorm/md5.js"></script> -->
    <!-- <script src="js/pdf/generic/build/pdf.js"></script> -->
</body>

</html>