<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>docCloud文档管理云平台</title>
    <!-- <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->

    <link href="css/bootstrap.3.3.7.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">

    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="js/magnify/dist/jquery.magnify.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/page.css">
    <!-- <link rel="stylesheet" href="css/comfirm.css"> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        html,
        body {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            /*overflow: hidden;*/
            background-color: #B3CDEC;
        }

        #title {
            width: 100%;
        }

        .mui-box {
            width: 100%;
            height: 100%;
        }

        .mui-box-1 {
            width: 50%;
            /* height: 100%; */
            /*background-color: aquamarine;*/
            float: left;
            border-right: 1px solid #0070C0;
            box-sizing: border-box;
        }

        .mui-box-2 {
            width: 25%;
            /* height: 100%; */
            /*background-color: darkgoldenrod;*/
            /* border-left: 1px solid #0070C0; */
            border-right: 1px solid #0070C0;
            box-sizing: border-box;
            float: left;
        }

        .mui-box-3 {
            width: 25%;
            /* height: 100%; */
            
            /* box-sizing: border-box; */
            /*background-color: darkorange;*/
            float: left;
        }

        .mui-title-box {
            text-align: center;
        }

        .mui-title {
            display: inline-block;
            padding: 5px 8px 5px 8px;
            margin: auto;
            margin-top: 10px;
            background: #0070C0;
            font-size: 18px;
            font-weight: 700;
            color: white;
            border-radius: 5px;
            box-shadow: 5px 4px 1px -1px #9CB6D9;
        }

        .mui-box-safety-supervision-ul {
            /* width: 100%;
            height: 100%; */
            margin: 0;
            padding: 0;
            -webkit-column-width: 222px;
            -moz-column-width: 222px;
            -o-colum-width: 222px;
            column-width: 222px;
            list-style: none;
        }

        .mui-ul-li {
            margin: 20px 10px 0px 20px;
            /*background: palevioletred;*/
            width: 222px;
            display: inline-block;
            position: relative;
        }

        .mui-left-vetical-box {
            width: 60px;
            position: absolute;
        }

        .mui-left-vetical-box-text {
            width: 40px;
            padding: 10px;
            height: 100%;
            border: 1px solid #5D8CC4;
            box-sizing: border-box;
            box-shadow: 2px 3px 1px -1px #8093A9;
            background: -webkit-linear-gradient(0deg, #A5C5FF, #E2ECFF);
            background: linear-gradient(0deg, #A5C5FF, #E2ECFF);
            color: #0C70C0;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }

        .mui-left-vetical-right-box-line {
            width: 20px;
            height: 50%;
            position: absolute;
            top: 0;
            right: 0;
            border-bottom: 1px solid #5D8CC4;
        }

        ul {
            padding: 0;
        }

        p {
            margin: 0;
        }

        .mui-right-box-ul {
            /*width: 150px;*/
            height: 100%;
            float: right;
            list-style: none;
        }

        .mui-right-box-ul-li {
            width: 100%;
            height: 35px;
            line-height: 27px;
        }

        .mui-right-box-line {
            width: 10%;
            height: 100%;
            float: left;
        }

        .mui-right-box-left-top-line {
            width: 100%;
            height: 50%;
            border-bottom: 1px solid #5D8CC4;
            border-left: 1px solid #5D8CC4;
        }

        .mui-right-box-left-down-line {
            height: 50%;
            border-left: 1px solid #5D8CC4;
        }

        .mui-right-box-right-text {
            width: 90%;
            height: 100%;
            float: right;
            position: relative;
        }

        .mui-right-span-box {
            width: 100%;
            height: 86%;
            position: absolute;
            top: 7%;
            box-sizing: border-box;
            border: 1px solid #5D8CC4;
            text-align: center;
            box-shadow: 2px 2px 1px -1px #8093A9;
            background: -webkit-linear-gradient(0deg, #A5C5FF, #E2ECFF);
            background: linear-gradient(0deg, #A5C5FF, #E2ECFF);
            cursor: pointer;
        }

        .mui-right-span-box span {
            font-size: 14px;
            color: #0C70C0;
        }
        #frmPassword .form-control {
            width: 60%;
            display: inline-block;
            box-sizing: border-box;
        }
        .listSpan {
            height: 40px;
            line-height: 40px;
            width: 100px;
            display: inline-block;
            background: #0070f0;
            border-radius: 5px;
            text-align: center;
            color: #0C70C0;
            font-size: 14px;
            margin-bottom: 10px;
            border: 1px solid #5D8CC4;
            box-shadow: 2px 2px 1px -1px #8093A9;
            background: -webkit-linear-gradient(0deg, #A5C5FF, #E2ECFF);
            background: linear-gradient(0deg, #A5C5FF, #E2ECFF);
            cursor: pointer;
        }
    </style>
</head>

<body>
    <!-- 微云 -->
    <div class="weiyun">
        <!-- 头部 -->
        <% include html/header.html %>
        <!-- 主要内容区 -->
        <div class="weiyun-content">
            <!-- 左侧菜单区 -->
            <div class="lay-aside">

                <div id="_search_bar" class="mod-search">
                    <div class="search-panel">
                        <div class="search-input">
                            <input id="search" placeholder="搜索全部" autocomplete="off" type="text" aria-label="输入文件名并按下回车进行搜索"
                                tabindex="0" class="mod-input">
                        </div>
                        <div class="search-placeholder">
                            <i class="icon icon-searchs"></i>
                        </div>
                    </div>
                    <!-- <div class="mod-menu-group">
                        <div class="menu-group">
                            <div class="menu-group-hd">
                                <p class="tit">历史记录</p>
                                <div class="hd-act">
                                    <a href="javascript:void(0)" class="btn-clear">清除记录</a>
                                </div>
                            </div>
                            <div class="menu-group-bd">
                                <ul class="menu-list">
                                    <li class="menu-list-item">
                                        <span class="item-txt">11</span>
                                        <span title="删除" class="item-act">
                                            <i class="icon icon-close"></i>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="aside-box">
                    <div class="aside-wrap">
                        <ul class="nav-box">
                            <!-- <li class="nav-list">
                                <a href="#" class="link recent" title="最近">
                                    <i></i>最近</a>
                            </li>
                            <li class="nav-gap">
                                <span class="gap"></span>
                            </li> -->
                            <li class="nav-list summary nav-current">
                                <a href="/summary" class="link doc" title="首页">
                                    <i></i>首页</a>
                            </li>
                            <li class="nav-list file">
                                <a href="/file" class="link all" title="目录">
                                    <i></i>目录</a>
                            </li>
                            <!-- <li class="nav-list">
                                <a href="/position" class="link doc" title="位置">
                                    <i></i>位置</a>
                            </li> -->
                            <li class="nav-list hightSearch">
                                <a href="/hightSearch" class="link pic" title="检索">
                                    <i></i>检索</a>
                            </li>
                            <li class="nav-list report">
                                <a href="/report" class="link" title="报表">
                                    <i class="icon-bar-chart"></i>报表</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 右侧内容区域 -->
            <div class="main" style="overflow: auto; display: none;min-width: 1120px;">
                <!-- <div class="mui-box-1">
                    <div class="mui-title-box">
                        <span id="title-1" class="mui-title">安监办</span>
                    </div>
                    <div style="position: relative;">
                        <ul id="ul-box-1" class="mui-box-safety-supervision-ul">
                           
                        </ul>
                    </div>
                </div>
                <div class="mui-box-2">
                    <div class="mui-title-box">
                        <span class="mui-title">安委办</span>
                    </div>
                    <div style="position: relative;">
                        <ul id="ul-box-2" class="mui-box-safety-supervision-ul">
                           
                        </ul>
                    </div>
                </div>
                <div class="mui-box-3">
                    <div class="mui-title-box">
                        <span class="mui-title">消安委办</span>
                    </div>
                    <div style="position: relative;">
                        <ul id="ul-box-3" class="mui-box-safety-supervision-ul">
                            
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    </div>
    <!-- 提示信息 -->
    <div class="full-tip-box">
        <span class="full-tip">
            <span class="inner">
                <i class="ico"></i>
                <span class="text" data-id="label">新建文件夹成功!</span>
            </span>
        </span>
    </div>
    <div class="dialogDivP hide">
        <% include dialog/frmPassword.html %>
    </div>
    <!-- <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> -->
    <script type="text/javascript" src="js/jquery/jquery-1.12.4.js"></script>
    <!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/jquery-migrate-1.2.1.js"></script>

    <script type="text/javascript" src="js/jquery/jquery-ui.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/magnify/dist/jquery.magnify.js"></script>
    <script type="text/javascript" src="js/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/js-spark-md5/spark-md5.min.js"></script>
    <script type="text/javascript" src="js/wistorm/localApi.js"></script>
    <script type="text/javascript" src="js/system.js"></script>
    <script type="text/javascript" src="js/wistorm/md5.js"></script>
    <script type="text/javascript" src="js/data.js"></script>
    <script type="text/javascript" src="js/handledata.js"></script>
    <script type="text/javascript" src="js/tools.js"></script>
    <script type="text/javascript" src="js/htmlTemplate.js"></script>
    <script type="text/javascript" src="js/account.js"></script>
    <!-- <script type="text/javascript" src="js/json1.js"></script> -->
    <script type="text/javascript" src="js/textSize.js"></script>
    <script type="text/javascript" src="js/summary.js"></script>
    <!-- <script src="js/upload.js"></script> -->
    <script src="js/pdf/generic/build/pdf.js"></script>
</body>

</html>