<div id="divDocumentAssign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" title="">
    <form id="frmDocumentAssign" class="form-horizontal">
        <div class="modal-body form-horizontal" style="padding: 0;">
            <div class="control-group">
                <!-- Text input-->
                <!-- <label class="control-label" for="documentTreeAssign" data-i18n="system.customer">
                    移动到
                </label> -->
                <div class="controls frmDocumentAssign">
                    <ul id="documentTreeAssign" class="ztree">
                        <p style="text-align: center; padding-top: 5px">
                            <img style='width:16px;height:16px' src='/img/waiting.gif' />
                        </p>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>