<div id="divPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" title="属性">
    <form id="frmPassword">
        <ul >
            <li style="margin-top: 10px">
                <label class="ellipsis">旧密码</label>
                <input id="oldPsd" name="oldPsd" type="password" class="form-control">
            </li>
            <li style="margin-top: 10px">
                <label class="ellipsis">新密码</label>
                <input id="newPsd" name="newPsd" type="password" class="form-control">
            </li>
            <li style="margin-top: 10px">
                <label class="ellipsis">新密码确认</label>
                <input id="newPsd2" name="newPsd2" type="password" class="form-control">
            </li>
        </ul>
    </form>
</div>