<div id="divaddUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" title="属性">
    <form id="frmUser">
        <ul>
            <li style="margin-top: 10px">
                <label class="ellipsis">登陆账号</label>
                <input id="useraccount" name="useraccount" type="text" class="form-control">
            </li>
            <li style="margin-top: 10px">
                <label class="ellipsis">登陆密码</label>
                <input id="password" name="password" type="password" class="form-control">
                <button class="btn" id="repassword" type="button" style="margin-bottom: 10px;">重置密码</button>
            </li>
            <li style="margin-top: 10px">
                <label class="ellipsis">密码确认</label>
                <input id="password2" name="password2" type="password" class="form-control">
            </li>
            <li style="margin-top: 10px">
                <label class="ellipsis">用户类型</label>
                <select class="form-control" id="userType" name="userType">
                    <option value="1">客户</option>
                    <option value="2">账号</option>
                </select>
            </li>
            <li style="margin-top: 10px">
                <label class="ellipsis">用户名称</label>
                <input id="username" name="username" type="text" class="form-control" />
            </li>
            <li style="margin-top: 10px">
                <label class="ellipsis">创建时间</label>
                <input id="createdAt" name="createdAt" type="text" class="form-control" />
            </li>
            <li style="margin-top: 10px">
                <label class="ellipsis">系统名称</label>
                <input id="sTitleName" name="sTitleName" type="text" class="form-control" />
            </li>
            <li style="margin-top: 10px">
                <label class="ellipsis">有效期限</label>
                <!-- <div class="input-append date expire" style="width: 140px" data-date="" data-date-format="yyyy-mm-dd hh:ii:ss"> -->
                <input class="form-control" size="100" type="text" value="" id="expireDate">
                    <!-- <span class="add-on">
                        <i class="icon-th"></i>
                    </span> -->
                </div>
            </li>
        </ul>
    </form>

</div>