<div id="divKeyUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" title="属性">
    <form id="frmKeyUser">
        <table class="table table-hover table-striped table-bordered" width="100%" cellpadding="0" cellspacing="0" border="0" id="user_list">
            <thead>
                <tr class="tops">
                    <th width="120px" style="">
                        操作对象
                    </th>

                    <th width="320px">
                        权限
                    </th>
                    <th width="90px">
                        全选
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tops">
                    <td width="120px" style="">
                        菜单
                    </td>

                    <td width="320px" id="menukey">
                        <span>
                            <input class="ikey" type="checkbox" value="首页">
                            <label class="lkey">首页</label>
                        </span>
                        <span>
                            <input class="ikey" type="checkbox" value="目录">
                            <label class="lkey">目录</label>
                        </span>
                        <span>
                            <input class="ikey" type="checkbox" value="检索">
                            <label class="lkey">检索</label>
                        </span>
                        <span>
                            <input class="ikey" type="checkbox" value="用户管理">
                            <label class="lkey">用户管理</label>
                        </span>
                        <span>
                            <input class="ikey" type="checkbox" value="系统备份">
                            <label class="lkey">系统备份</label>
                        </span>
                        <span>
                            <input class="ikey" type="checkbox" value="报表">
                            <label class="lkey">报表</label>
                        </span>
                    </td>
                    <td width="90px">
                        <span>
                            <input class="ikey" type="checkbox" value="" id="menukey1" name="全选">
                            <!-- <label class="lkey">用户管理</label> -->
                        </span>
                    </td>
                </tr>
                <tr class="tops">
                    <td width="120px" style="">
                        目录
                    </td>

                    <td width="320px" id="dockey">
                        <span>
                            <input class="ikey" type="checkbox" value="上传">
                            <label class="lkey">上传</label>
                        </span>
                        <span>
                            <input class="ikey" type="checkbox" value="新建">
                            <label class="lkey">新建</label>
                        </span>
                        <!-- <span>
                            <input class="ikey" type="checkbox" value="下载">
                            <label class="lkey">下载</label>
                        </span> -->
                        <span>
                            <input class="ikey" type="checkbox" value="移动">
                            <label class="lkey">移动</label>
                        </span>
                        <span>
                            <input class="ikey" type="checkbox" value="重命名">
                            <label class="lkey">重命名</label>
                        </span>
                        <span>
                            <input class="ikey" type="checkbox" value="删除">
                            <label class="lkey">删除</label>
                        </span>
                        <span>
                            <input class="ikey" type="checkbox" value="设置属性">
                            <label class="lkey">设置属性</label>
                        </span>
                        <span>
                            <input class="ikey" type="checkbox" value="文档审核">
                            <label class="lkey">文档审核</label>
                        </span>
                        <span>
                            <input class="ikey" type="checkbox" value="打印二维码">
                            <label class="lkey">打印二维码</label>
                        </span>
                        <span>
                            <input class="ikey" type="checkbox" value="合并">
                            <label class="lkey">合并</label>
                        </span>
                        <span>
                            <input class="ikey" type="checkbox" value="导入台账">
                            <label class="lkey">导入台账</label>
                        </span>
                    </td>
                    <td width="90px">
                        <span>
                            <input class="ikey" type="checkbox" value="" id="dockey1" name="全选">
                        </span>
                    </td>
                </tr>
                <tr class="tops">
                    <td width="120px" style="">
                        其他
                    </td>
                    <td width="320px" id="otherkey">
                        <span>
                            <input class="ikey" type="checkbox" value="调用密集柜">
                            <label class="lkey">调用密集柜</label>
                        </span>

                        <span>
                            <input class="ikey" type="checkbox" value="文档加锁">
                            <label class="lkey">文档加锁</label>
                        </span>
                        <span>
                            <input class="ikey" type="checkbox" value="访问加锁文档">
                            <label class="lkey">访问加锁文档</label>
                        </span>
                    </td>
                    <td width="90px">
                        <span>
                            <input class="ikey" type="checkbox" value="" id="otherkey1" name="全选">
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

</div>